# AnthropicのAPIキー
ANTHROPIC_API_KEY=sk-ant-xxxxx

# 使用するモデル
ANTHROPIC_MODEL=claude-haiku-4-5-20251001

# WandB WeaveのAPIキー
WANDB_API_KEY=xxxxx

# WandB Weave のプロジェクト名 (必須)
# 末尾に自分の名前を付けてください 例: training-ai-agent-dev-oshima
WANDB_PROJECT=training-ai-agent-dev-
